.project {
  padding: 100px 0;
  // background: rgba(254, 247, 233, 1);
}

.project__display {
  padding: 50px 0;
  //   text-align: center;
}

.comp {
  background: white;
}
.incomp {
  background: rgb(248, 243, 243);
}
.project__item {
  transition: 0.5s ease;
  padding: 10px;
  // border: 2px solid #18171c;
  // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 100%;
  .project__item-img {
    text-align: center;
    padding: 10px;
    img {
      width: 200px;
      height: 200px;
    }
    .blur {
      filter: blur(8px);
    }
  }
  .project__item-about {
    .project__name {
      h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
      }
      p {
        width: 90%;
        height: auto;
      }
    }
    .project__item-about-content {
      padding: 20px 10px;
      height: auto;
      p {
        width: 90%;
        margin: 0 auto;
      }
      .project__item-about-tech {
        text-align: center;
        padding-top: 10px;
        h5 {
          font-size: 17px;
          color: #212023;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    .project__item-links {
      position: relative;
      bottom: 0;
      .project__item-links-item {
        width: 50%;
        font-size: 15px;
        text-align: center;
        margin: 10px auto;
        padding: 5px;
        a {
          text-decoration: none;
        }
      }
      .live {
        background-color: #ebf5ff;
        a {
          color: #4489db;
        }
      }
      .code {
        background-color: #ebf5ff;
        a {
          color: black;
        }
      }
    }
  }
  &:hover{
    transform: translateY(-0.6%);
    transition: 0.3s ease;
  }
}
.project__other{
  img{
    transition: 0.2s ease;
    // border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  // transform: scale(1.01)
  &:hover{
    transform: translateY(-2%);
  }
  }
}
.project__other-heading {
  h3 {
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-family: "Taviraj", serif;
    padding-top: 30px;
  }

}