.project {
  padding: 100px 0;
  background:rgba(254,247,233,1);
}

.project__display {
  padding: 50px 0;
  //   text-align: center;
}

.project__detail {
  padding: 10px;
  img {
    width: 100%;
  }
}
