.footer {
  border-top: 2px solid #18171c;
  padding: 15px 0;
  color: #18171c;
}

.footer__links{
    a{
        font-size: large;
        color: #18171c;
        margin: 0 10px;
    }
}

.footer__copy{
    color: #18171c;
    margin: auto 0;
}
