@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: rgba(250, 250, 250, 0.4);
  backdrop-filter: blur(30px);
  color: var(--black);
  border-bottom: 1.5px solid #ddd;
  min-width: 50px;
  font-family: "Taviraj", serif;
  z-index: 10;
}
.nav__logo{
  display: flex;
  align-items: center;
  margin:0 1rem;
  padding: 5px 0 0 0;
  h1{
    font-family: 'Allura', cursive;
    font-size: 40px;
    font-weight:500;
    transition: 1s ease;
    a{
      color: var(--black);
      text-decoration: none;
    }
    @media screen and (max-width: 260px) {
      font-size: 35px;
    }
    @media screen and (max-width: 240px) {
      font-size: 30px;
    }
    @media screen and (max-width: 220px) {
      font-size: 27px;
    }
    @media screen and (max-width: 193px) {
      font-size: 40px;
    }
    @media screen and (max-width: 170px) {
      font-size: 40px;
    }
  }
}


.nav__logo img {
  position: relative;
  width: 200px;
  transition: 0.8s ease;
  @media screen and (max-width: 260px) {
    width: 170px;
  }
  @media screen and (max-width: 230px) {
    width: 150px;
  }
  @media screen and (max-width: 210px) {
    width: 130px;
  }
  @media screen and (max-width: 190px) {
    width: 110px;
  }
  @media screen and (max-width: 170px) {
    width: 80px;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: all 0.4s ease;
  ul {
    padding-top: 1rem;
    display: flex;
    li {
      list-style-type: none;
      text-decoration: none;
      a {
        color: var(--black);
        transition: 0.25s ease;
        &:hover {
          color: var(--yellow);
        }
      }
    }
  }
}
.nav__btn {
  text-decoration: none;
  margin-right: 1rem;

  @media screen and (max-width: 1010px) {
    padding-right: 60px;
  }
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.nav__menu-btn {
  display: none;
  @media screen and (max-width: 420px) {
    display: block;
  }
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--yellow);
  cursor: pointer;
  transition: transform 10s ease-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  transition: 0.2s ease;

  &:hover {
    background-color: var(--yellow-hover);
  }
}

@media (max-width: 1010px) {
  .hamburger {
    display: block;
  }
  .nav__menu ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0%;
    flex-direction: column;
    width: 100%;
    height: calc(100vh-77px);
    background: var(--bg);
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    text-align: center;
    display: none;
  }
  .nav__menu.expanded ul {
    display: block;
  }
  .nav__menu li {
    text-align: center;
    margin: 0;
    a {
      color: var(--black);
      width: 100%;
      padding: 1.5rem 0;
    }
  }
}
