@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

.header {
  // margin-bottom: 60px;
  position: relative;
  padding-top: 25vh;
  transition: 0.8s ease;
  min-height: 100vh;
  background-color: var(--bg);
  @media screen and (max-width: 992px) {
    padding-top: 15vh;
    text-align: center;
  }
  @media screen and (max-width: 820px) {
    padding-top: 12vh;
  }
  @media screen and (max-width: 445px) {
    padding-top: 14vh;
  }
  @media screen and (max-width: 392px) {
    padding-top: 16vh;
  }
  @media screen and (max-width: 340px) {
    padding-top: 18vh;
  }
  @media screen and (max-width: 300px) {
    padding-top: 16vh;
  }
}

.header__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 100%;
    box-shadow: 0px 0px 30px var(--secondary);
    transition: 0.8s ease;
    margin: 40px;
    @media screen and (max-width: "1200px") {
      width: 370px;
    }
    @media screen and (max-width: "992px") {
      width: 350px;
    }
    @media screen and (max-width: "770px") {
      width: 280px;
    }
    @media screen and (max-width: "445px") {
      width: 250px;
    }
    @media screen and (max-width: "392px") {
      width: 250px;
    }
    @media screen and (max-width: "350px") {
      width: 230px;
    }
    @media screen and (max-width: "300px") {
      width: 210px;
    }
  }
}

.header__hello {
  font-size: 30px;
  font-weight: bold;
  font-family: "Cormorant SC", serif;
  @media screen and (max-width: "352px") {
    font-size: 25px;
    transition: 0.8s ease;
  }
  @media screen and (max-width: "274px") {
    font-size: 20px;
    transition: 0.8s ease;
  }
}

.header__intro {
  font-size: 80px;
  font-family: "Cormorant SC", serif;
  transition: 0.8s ease;
  @media screen and (max-width: "772px") {
    font-size: 75px;
  }
  @media screen and (max-width: "545px") {
    font-size: 72px;
  }
  @media screen and (max-width: "508px") {
    font-size: 62px;
  }
  @media screen and (max-width: "445px") {
    font-size: 55px;
  }
  @media screen and (max-width: "392px") {
    font-size: 49px;
  }
  @media screen and (max-width: "344px") {
    font-size: 42px;
  }
  @media screen and (max-width: "274px") {
    font-size: 37px;
  }
}

.header__list {
  list-style-type: none;
  font-size: 40px;
  font-family: "Caveat", cursive;
  transition: 0.8s ease;
  @media screen and (max-width: "772px") {
    font-size: 55px;
  }
  @media screen and (max-width: "545px") {
    font-size: 50px;
  }
  @media screen and (max-width: "508px") {
    font-size: 45px;
  }
  @media screen and (max-width: "445px") {
    font-size: 40px;
  }
  @media screen and (max-width: "392px") {
    font-size: 35px;
  }
  @media screen and (max-width: "344px") {
    font-size: 30px;
  }
  @media screen and (max-width: "274px") {
    font-size: 25px;
  }
}